<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="POST">
    <h1>My Web</h1>
    {% for user in name %}
        {% for key, value in user.items() %}

        <div>
            <h4>{{ key|e }}</h4>
            <p><input type="checkbox" name="mycheckbox" value="1"/>{{ value[0]|e }}</p>
            <p><input type="checkbox" name="mycheckbox" value="2"/>{{ value[1]|e }}</p>
            <p><input type="checkbox" name="mycheckbox" value="3"/>{{ value[2]|e }}</p>
        </div>

        {% endfor %}
    {% endfor %}
    <input type="submit">

</form>
</body>
</html>
